
 #detalle_productos1 tr:nth-child(even) {
    background: #ededed;
     }
     #detalle_productos2 tr:nth-child(even) {
    background: #ededed;
     }
     #detalle_productos3 tr:nth-child(even) {
    background: #ededed;
     }
     #detalle_productos4 tr:nth-child(even) {
    background: #ededed;
     }
     #detalle_productos5 tr:nth-child(even) {
    background: #ededed;
     }
     #detalle_productos6 tr:nth-child(even) {
    background: #ededed;
     }
     #detalle_productos7 tr:nth-child(even) {
    background: #ededed;
     }
     #detalle_productos8 tr:nth-child(even) {
    background: #ededed;
     }
     #detalle_productos9 tr:nth-child(even) {
    background: #ededed;
     }
     #detalle_productos10 tr:nth-child(even) {
    background: #ededed;
     }
      #detalle_productos11 tr:nth-child(even) {
    background: #ededed;
     }
   #detalle_productos12 tr:nth-child(even) {
    background: #ededed;
     }

    #detalle_product1 tr:nth-child(even) {
    background: #ededed;
     }
   #detalle_product2 tr:nth-child(even) {
    background: #ededed;
     }
   #detalle_product3 tr:nth-child(even) {
    background: #ededed;
     }
   #detalle_product4 tr:nth-child(even) {
    background: #ededed;
     }
   #detalle_product5 tr:nth-child(even) {
    background: #ededed;
     }
    #detalle_product6 tr:nth-child(even) {
    background: #ededed;
     }
    #detalle_product7 tr:nth-child(even) {
    background: #ededed;
     }